video {
  //width: 320px;
  //height: 240px;
}
canvas {
  //width: 320px;
 // height: 240px;
  background: #00A000;
}
#motions {
  background: transparent;
  left: 0;
  position: absolute;
  //width: 320px;
  //height: 240px;
}