video {
  background: #2b81af;
  margin: 0 auto;
  display: block;
}
canvas {
  //width: 320px;
 // height: 240px;
  background: #00A000;
}

.hidden {
  visibility: hidden;
}
#motions {
  background: transparent;
  left: 0;
  position: absolute;
  //width: 320px;
  //height: 240px;
}